@using Microsoft.Extensions.Localization
@using Multishop.WebUI.Resources
@inject IServiceProvider ServiceProvider

@{
    var localizer = ServiceProvider.GetService(typeof(IStringLocalizer<SharedResources>)) as IStringLocalizer<SharedResources>;
}

<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" href="">@localizer["Hakkımızda"]</a>
                <a class="text-body mr-3" href="">@localizer["İletişim"]</a>
                <a class="text-body mr-3" href="">@localizer["Yardım"]</a>
                <a class="text-body mr-3" href="">@localizer["SSS"]</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Hesabım</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">@localizer["Giriş Yap"]</button>
                        <button class="dropdown-item" type="button">@localizer["Kayıt Ol"]</button>
                    </div>
                </div>
                <div class="btn-group mx-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TRY</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">USD</button>
                        <button class="dropdown-item" type="button">EUR</button>
                        <button class="dropdown-item" type="button">GBP</button>
                        <button class="dropdown-item" type="button">CAD</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TR</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form asp-action="Index" asp-controller="Information" asp-route-returnUrl="@Context.Request.Path" method="post">
                            <button type="submit" name="culture" value="en" class="dropdown-item">English</button>
                            <button type="submit" name="culture" value="fr" class="dropdown-item">French</button>
                            <button type="submit" name="culture" value="de" class="dropdown-item">German</button>
                            <button type="submit" name="culture" value="it" class="dropdown-item">Italian</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Aranacak ürünü yazın">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Müşteri Hizmetleri</p>
            <h5 class="m-0">+90 312 345 67 89</h5>
        </div>
    </div>
</div>