@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
         
            <div id="example_filter" class="dataTables_filter pull-right">
                <input class="form-control" id="placeholderInput" placeholder="Ara" type="text">
            </div>
            <table class="table table-responsive">
                @{
                    int count = 0;
                }
                <thead>
                    <tr>
                        <th class="sortable">#</th>
                        <th class="sortable">Kategori Adı</th>
                        <th class="sortable">Kategoriye Ait Ürünler</th>
                        <th class="sortable">İşlemler</th>
                       
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    count++;

                <tr>
                    <td class="text-truncate">@count</td>
                    <td class="text-truncate">@item.CategoryName</td>
                    <td class="text-truncate"><a class="btn btn-success" asp-action="ProductsByCategory" asp-route-id="@item.Id">Ürünler</a></td>
                    <td class="text-truncate">
                        <a class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Sil</a>
                            <a class="btn btn-info" asp-action="UpdateCategory" asp-route-id="@item.Id">Güncelle</a>
                    </td>
                </tr>
                }
               
            </table>
           <a class="btn btn-primary" asp-action="CreateCategory" asp-controller="Category" asp-area="Admin">Yeni Kategori Ekle</a>
        </div>
    </div>
</div>