@{
    ViewData["Title"] = "İstatistikler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
@{






}

<section class="content container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="fa fa-apple"></i> </div>
                <div class="media-info">
                    <h5>Marka Sayısı</h5>
                    <h3>@ViewBag.brandCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="fa fa-th"></i> </div>
                <div class="media-info">
                    <h5>Kategori Sayısı</h5>
                    <h3>@ViewBag.categoryCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="fa fa-tag"></i> </div>
                <div class="media-info">
                    <h5>Toplam Ürün Sayısı</h5>
                    <h3>@ViewBag.productCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="fa fa-money"></i> </div>
                <div class="media-info">
                    <h5>Ortalama Ürün Fiyatı</h5>
                    <h3>@ViewBag.avgProductPrice</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>En Ucuz Ürün</h5>
                    <h3>@ViewBag.cheapestProduct</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>En Pahalı Ürün</h5>
                    <h3>@ViewBag.expensiveProduct</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="fa fa-users"></i> </div>
                <div class="media-info">
                    <h5>Toplam Kullanıcı Sayısı</h5>
                    <h3>@ViewBag.userCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="fa fa-comment"></i> </div>
                <div class="media-info">
                    <h5>Aktif Yorum Sayısı</h5>
                    <h3>@ViewBag.activeCommentCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="fa fa-comment"></i> </div>
                <div class="media-info">
                    <h5>Onay Bekleyen Yorum Sayısı</h5>
                    <h3>@ViewBag.passiveCommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="fa fa-comments"></i> </div>
                <div class="media-info">
                    <h5>Toplam Yorum Sayısı</h5>
                    <h3>@ViewBag.totalCommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="fa fa-arrow-down"></i> </div>
                <div class="media-info">
                    <h5>Toplam İndirim Kuponu</h5>
                    <h3>@ViewBag.couponCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="fa fa-envelope"></i> </div>
                <div class="media-info">
                    <h5>Toplam Mesaj Sayısı</h5>
                    <h3>@ViewBag.messageCount</h3>
                </div>
            </div>
        </div>
    </div>
    

</section>
